<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="changelog"></a>
            <h2>Changelog Report</h2>
            <%= File.read("changelog.html") %>
        </div>
    </div>
</div>