<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="Capistrano_Report"></a>
            <h2>Capistrano Deployments Report</h2>
            <%= File.read("capistrano.html") %>
        </div>
    </div>
</div>