<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="flog"></a>
          <%= File.read("#{Continuous4r::WORK_DIR}/flog/index.html") %>
        </div>
    </div>
</div>
