<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="httperf"></a>
            <h2>httperf execution statistics</h2>
            <%= File.read("httperf.html") %>
        </div>
    </div>
</div>