<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="tests"></a>
            <h2>Units Tests Results</h2>
            <%= File.read("#{Continuous4r::WORK_DIR}/tests-run.html") %>
        </div>
    </div>
</div>