<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="zentest"></a>
            <h2>ZenTest Report</h2>
            <%= File.read("zentest.html") %>
        </div>
    </div>
</div>