<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="Rdoc_Report"></a>
            <h2>Rdoc Report</h2>
            <p style="padding-left: 20px;"><a target="_blank" class="newWindow" href="rdoc/app/index.html">View generated apidoc</a></p>
            <div>
                <pre class="source"><%= File.read("rdoc.log") %>
                </pre>
            </div>
        </div>
    </div>
</div>