<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="heckle"></a>
            <h2>Rails Statistics Report</h2>
            <%= File.read("stats.html") %>
        </div>
    </div>
</div>