<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="dcov"></a>
          <%= File.read("#{Continuous4r::WORK_DIR}/dcov/coverage.html") %>
        </div>
    </div>
</div>
