<div id="bodyColumn">
    <div class="contentBox">
        <div class="section"><a name="heckle"></a>
            <h2>Statistics Report</h2>
            <%= Utils.heading_for_builder("Overall code-to-test ratio : #{"%0.2f" % StatsBuilder.percent}%", StatsBuilder.percent) %>
            <%= File.read("#{Continuous4r::WORK_DIR}/stats_body.html") %>
        </div>
    </div>
</div>
