<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%
  require 'rubygems'
  require 'XmlElements'
  require 'date'
  project = XmlElements.fromString(File.read("continuous4r-project.xml"))
  generation_date = DateTime.now
%>
<html>
	<head>
            <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
            <title>Project Information - <%= project['name'] %></title>
            <style type="text/css" media="all">
            @import url("./style/maven-base.css");
            @import url("./style/maven-theme.css");
        </style>
    </head>
    <body class="composite">
    	<div id="banner">
            <a href="<%= project.url.text %>" id="projectLogo"><img alt="<%= project['name'] %>" src="<%= project.logo.text %>"></a>
    		<% begin
                     if !project.company.nil? and !project.company.logo.nil? and 
                      !project.company.logo.text.empty? and !project.company.url.nil? and 
                      !project.company.url.text.empty? and !project.company.name.nil? and !project.company.name.text.empty? %>
                      <a href="<%= project.company.url.text %>" id="organizationLogo"><img alt="<%= project.company.name.text %>" src="<%= project.company.logo.text %>"></a>
	    	<%   end
                   rescue Exception => e
                   end %>
    		<div class="clear"><hr></div>
    	</div>
    	<div id="breadcrumbs">
            <div class="xleft">Last published: <%= generation_date.strftime("%Y-%m-%d") %> <span class="separator">|</span>&nbsp;Doc for  1.8.0-SNAPSHOT</div>
            <div class="xright">
        	<!-- a href="http://www..org/" class="externalLink" title="External Link">Assembla</a>
	        <span class="separator">|</span>
        
		<a href="http://commons.apache.org/" class="externalLink" title="External Link">Commons</a> -->
		Pas de liens
            </div>
            <div class="clear"><hr></div>
      	</div>
